.list-header {
  display: flex;
  column-gap: 1.5em;

  & > * {
    min-width: 90px;
  }
}

.category-item {
  display: flex;
  column-gap: 1.5em;

  & > * {
    min-width: 90px;
  }
}

.notification {
  background-color: #555;
  padding: 1em;
  color: #fff;
}

.product-preview, .product-item {
  width: 200px;
  text-align: center;
   
  em {
    font-size: 10px;
  }
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style-type:none
}

li {
  margin: 0px 10px;
}
